* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex__row {
  display: flex;
  flex-direction: row;
}
.flex__column {
  display: flex;
  flex-direction: row;
}
.nav {
  border-bottom: 1px solid #f2f2f2;
  &__bar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    ul {
      list-style: none;

      li {
        margin: 0 15px;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
