.form {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        margin-bottom: 25px;
    }

    form {
        margin-top: -10vh;
        box-shadow: 0 52px 114px 0 rgba(38, 58, 124, 0.05);
        max-width: 400px;
        height: 400px;
        border: solid 1px #eceef3;
        padding: 35px 35px;

        label {
            color: #818ba2;
            font-size: 12px;
        }

        input {
            margin-top: 5px;
            margin-bottom: 10px;
            border-radius: 2px;
            background-color: #f8f9fc;
            border: solid 1px #eceef3;
            padding: 13px 0 13px 18px;
            font-size: 13px;
            font-style: normal;
            font-weight: normal;
            outline: none;
            width: 100%;
        }

        button {
            padding: 13px 10px;
            width: 100%;
            margin-top: 25px;
            height: 44px;
            text-align: center;
            background-color: #55a8fd;
            border-radius: 2px;
            color: white;
            border: none;
            transition: 0.2s;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
        }
    }
}