form {
    h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
    }

    box-shadow: 0 52px 114px 0 rgba(38, 58, 124, 0.05);
    max-width: 400px;
    min-height: 400px;
    border: solid 1px #00d664;
    padding: 35px 35px;
    border-radius: 5px;

    label {
        color: #818ba2;
        font-size: 12px;
    }

    input {
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 2px;
        background-color: #f8f9fc;
        border: solid 1px #00d664;
        padding: 13px 0 13px 18px;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        outline: none;
        width: 100%;
    }

    button {
        padding: 13px 10px;
        width: 100%;
        margin-top: 20px;
        height: 44px;
        text-align: center;
        background: #00d664;
        border: none;
        border-radius: 25px;
        color: #fff;
        transition: 0.2s;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        transition: all 0.4s ease;
        outline: none;
        font-size: 14px;

        &:hover {
            background: none;
            color: #00d664;
            border: 1px solid #00d664;

        }
    }
}

.new-poll {
    min-height: auto;
}